<div class="register-container">
    <!-- Partie supérieure avec le logo -->
    <div class="register-header">
      <img src="../../../logo.jpg" alt="Logo" class="logo">
    </div>
  
    <!-- Partie inférieure avec le formulaire d'inscription -->
    <div class="register-form">
      <h2>Inscription</h2>
      
      <!-- Ligne 1 -->
      <div class="form-group">
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" id="username" class="form-control">
      </div>
  
      <!-- Ligne 2 -->
      <div class="form-group">
        <label for="email">Adresse de courrier électronique :</label>
        <input type="emailAdress" id="emailAdress" class="form-control">
      </div>
  
      <!-- Ligne 3 -->
      <div class="form-group">
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" class="form-control">
      </div>
  
      <!-- Ajouter un bouton d'inscription -->
      <button type="submit" class="submit-button">S'inscrire</button>
    </div>
  </div>
  