



<app-auth-header></app-auth-header>
<div *ngIf="onError" class="error-message">
  Une erreur est survenue lors de l'inscription. Veuillez réessayer.
</div>


  
      <h2>Inscription</h2>
      <form class="register-form"  (ngSubmit)="submit()" #registerForm="ngForm">
     <div >
        <label for="pseudonym">Nom d'utilisateur :</label>
        <input type="text" id="pseudonym" class="form-control">
      </div>
    <div>
        <label for="emailaddress">Adresse e-mail :</label>
        <input type="emailaddress" id="emailaddress" class="form-control">
      </div>
    <div >
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" class="form-control">
      </div>
      <div>
        <button type="submit" class="button">S'inscrire</button>
    </div>
  </form>
